.home-container {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto auto;

  .carousel {
    grid-row-start: 1;
    display: grid;
    grid-template-rows: auto auto;
    .img-container {
      grid-row-start: 1;
      display: grid;
      grid-template-columns: auto auto auto;
      text-align: center;
      .img-1 {
        grid-column-start: 1;
      }
      .img-2 {
        grid-column-start: 2;
      }
      .img-3 {
        grid-column-start: 3;
      }
      .img-poster {
        max-width: 300px;
        max-height: 450px;
        @media only screen and (max-width: 1517px) {
          max-width: 210px;
          max-height: 315px;
        }
      }
    }
    .button-container {
      grid-row-start: 2;
      text-align: center;
      .button-slide {
        margin: 20px 20px;
        width: 60px;
      }
    }
  }
  .events {
    grid-row-start: 2;
    background-color: #e1e1e1;
    border-radius: 2px;
    box-shadow: 0.5px 0.5px 2px 0 #b6b6b6, -0.5px -0.5px 2px 0 #b6b6b6;
    padding: 10px 20px;

    .events-link {
      text-align: center;
      align-items: center;
      background-color: #750031;
      width: 100px;
      padding: 5px 10px;
      border-radius: 5px;
      margin: 0 auto;
      a {
        text-decoration: none;
        color: #fff;
      }
    }
  }
}

@media only screen and (max-width: 1007px) {
  .home-container {
    .carousel {
      .img-container {
        grid-row-start: 1;
        display: grid;
        grid-template-columns: auto auto;

        .img-1 {
          grid-column-start: 1;
        }
        .img-2 {
          grid-column-start: 2;
        }

        .img-poster {
          max-width: 210px;
          max-height: 315px;
        }
      }
    }
    .events {
      .events-link {
      }
    }
  }
}

@media only screen and (max-width: 640px) {
  .home-container {
    .carousel {
      .img-container {
        grid-template-columns: auto;
        .img-1 {
          grid-template-columns: 1;
        }
      }
    }
    .events {
      .events-link {
      }
    }
  }
}
