@font-face {
  font-family: MerryWeather-Light;
  src: url("../../../fonts/Merriweather/Merriweather-Light.ttf");
}

@font-face {
  font-family: WorkSans-Bold;
  src: url("../../../fonts/Work_Sans/static/WorkSans-Bold.ttf");
}

.home-container {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto auto auto;

  .carousel {
    grid-row-start: 1;
    display: grid;
    grid-template-rows: auto auto;
    .img-container {
      grid-row-start: 1;
      display: grid;
      grid-template-columns: auto auto auto;
      text-align: center;
      .img-1 {
        grid-column-start: 1;
      }
      .img-2 {
        grid-column-start: 2;
      }
      .img-3 {
        grid-column-start: 3;
      }
      .img-poster {
        max-width: 300px;
        max-height: 450px;
        @media only screen and (max-width: 1517px) {
          max-width: 210px;
          max-height: 315px;
        }
      }
    }
    .button-container {
      grid-row-start: 2;
      text-align: center;

      .button-slide {
        margin: 20px 20px;
        width: 60px;
      }
    }
  }

  .events {
    grid-row-start: 2;
    margin: auto;
    background: linear-gradient(
      to right,
      rgb(0, 0, 0, 0.8),
      rgb(0, 0, 0, 0),
      rgb(0, 0, 0, 0.8)
    );

    border-radius: 5px;
    color: #fff;
    font-size: 1.3rem;

    .events-container {
      margin: 0 auto;
      width: 80%;
      h2 {
        font-family: "WorkSans-Bold";
      }
      p {
        font-family: "MerryWeather-Light";
      }
      .events-link {
        text-align: center;
        align-items: center;
        background-color: #750031;
        width: 200px;
        padding: 5px 10px;
        border-radius: 5px;
        margin: 0 auto;
        a {
          text-decoration: none;
          color: #fff;
          font-family: "MerryWeather-Light";
        }
      }
    }
  }

  .deals {
    grid-row-start: 3;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto;
    color: #fff;
    margin: auto;
    padding-top: 100px;
    font-family: "MerryWeather-Light";
    .deals-container {
      grid-row-start: 1;
      display: grid;
      grid-template-columns: auto auto auto;
      grid-template-rows: auto;
      font-size: 1.2rem;
      .deal-1 {
        grid-column-start: 1;
        grid-row-start: 1;
        margin: 0px 10px;
        padding: 30px 50px;
        width: 350px;
        background: linear-gradient(
          to right,
          rgb(0, 0, 0, 0.8),
          rgb(0, 0, 0, 0),
          rgb(0, 0, 0, 0.8)
        );

        border-radius: 5px;
      }
      .deal-2 {
        grid-column-start: 2;
        grid-row-start: 1;
        margin: 0px 10px;
        padding: 30px 50px;
        width: 350px;
        background: linear-gradient(
          to right,
          rgb(0, 0, 0, 0.8),
          rgb(0, 0, 0, 0),
          rgb(0, 0, 0, 0.8)
        );

        border-radius: 5px;
      }
      .deal-3 {
        grid-column-start: 3;
        grid-row-start: 1;
        margin: 0px 10px;
        padding: 30px 50px;
        width: 350px;
        background: linear-gradient(
          to right,
          rgb(0, 0, 0, 0.8),
          rgb(0, 0, 0, 0),
          rgb(0, 0, 0, 0.8)
        );

        border-radius: 5px;
      }
    }
  }
}

@media only screen and (max-width: 1007px) {
  .home-container {
    .carousel {
      .img-container {
        grid-row-start: 1;
        display: grid;
        grid-template-columns: auto auto;

        .img-1 {
          grid-column-start: 1;
        }
        .img-2 {
          grid-column-start: 2;
        }

        .img-poster {
          max-width: 210px;
          max-height: 315px;
        }
      }
    }
    .events {
      .events-link {
      }
    }
  }
}

@media only screen and (max-width: 640px) {
  .home-container {
    .carousel {
      .img-container {
        grid-template-columns: auto;
        .img-1 {
          grid-template-columns: 1;
        }
      }
    }
    .events {
      .events-link {
      }
    }
  }
}
