.film-container {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: auto auto auto;
  margin: 0px 33%;
  .film-spinner {
    grid-column: 1;
    grid-row: 1;
    text-align: center;
  }
  .film-error {
    grid-column: 1;
    grid-row: 2;
    text-align: center;
  }
  .film-form-container {
    background-color: #d1d1d1;
    padding: 10px 15px;
    border-radius: 5px;
    grid-column: 1;
    grid-row: 3;
    .film-form {
      background-color: D1D1D1;
      display: grid;
      grid-template-columns: auto auto auto auto;
      grid-template-rows: auto auto auto auto auto;

      .film-form-name {
        grid-column: 1/5;
        grid-row: 1;
        margin-bottom: 20px;
      }
      .film-form-time {
        grid-column: 1/5;
        grid-row: 2;
        text-align: center;
        button {
          padding: 5px 10px;
          margin: 10px 10px;
        }
      }
      .film-form-tickets {
        grid-column: 1/3;
        grid-row: 3;
        margin-top: 30px;
        margin-bottom: 20px;
      }
      .film-form-price {
        grid-column: 3/5;
        grid-row: 3;
        margin-top: 30px;
        margin-bottom: 20px;
      }
      button {
        grid-column: 1/5;
        grid-row: 5;
        max-width: 33%;
        margin: 10px auto;
      }
    }
  }
}
@media only screen and (max-width: 1007px) {
  .film-container {
    margin: 0;
    .film-form-container {
    }
  }
}

@media only screen and (max-width: 640px) {
  .film-container {
    .film-form-container {
      background-color: #d1d1d1;
      padding: 10px 15px;
      border-radius: 5px;
      grid-column: 1;
      grid-row: 3;
      .film-form {
        background-color: D1D1D1;
        display: grid;
        grid-template-columns: auto auto auto auto;
        grid-template-rows: auto auto auto auto auto;

        .film-form-name {
          grid-column: 1/5;
          grid-row: 1;
          margin-bottom: 20px;
        }
        .film-form-time {
          grid-column: 1/5;
          grid-row: 2;
          text-align: center;
          button {
            padding: 5px 10px;
            margin: 10px 10px;
          }
        }
        .film-form-tickets {
          grid-column: 1/3;
          grid-row: 3;
          margin-top: 30px;
          margin-bottom: 20px;
        }
        .film-form-price {
          grid-column: 3/5;
          grid-row: 3;
          margin-top: 30px;
          margin-bottom: 20px;
        }
        button {
          grid-column: 1/5;
          grid-row: 5;
          max-width: 33%;
          margin: 10px auto;
        }
      }
    }
  }
}
