main {
  padding: 5% 20%;
  min-height: 100vh;
  background-image: url("../../images/layered-steps-haikei.svg");
}

@media only screen and (max-width: 1007px) {
  main {
    padding: 10% 5%;
  }
}

@media only screen and (max-width: 640px) {
  main {
    padding: 10% 0;
  }
}
