main {
  padding: 2% 20%;
  min-height: 100vh;
  background-image: url("../../images/layered-steps-haikei.svg");
}

@media only screen and (max-width: 1007px) {
  main {
    margin: 50px 10%;
  }
}

@media only screen and (max-width: 640px) {
  main {
    margin: 0px;
    margin-top: 20px;
  }
}
